/* encabezado.css */
.navbar {
    background-color: rgb(0, 119, 190); /* Ocean blue background color */
  }
  
  .navbar-brand {
    color: #fff; /* White text color for the brand */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* White text color for the links */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Light gray text color on hover */
  }
  